.projects
{
    margin-top: 30px;
}

.item div
{
    max-width: 600px;
    padding: 30px;
}

@media screen and (max-width: 900px)
{
    .container
    {
        width: 500px;
    }
    .projects .item
    {
        flex-direction: column;
    }
    .projects .item .preview
    {
        width: 100% !important;
        height: 100%;
        
    }
    .item iframe
    {
        height: 280px !important;
    }
    .container .slogan
    {
        font-size: 15px;
    }
    .container h1
    {
        font-size: 30px;
    }
}
@media screen and (max-width: 500px)
{
    .container
    {
        width: 95%;
    }
    .item .title
    {
        font-size: 20px;
    }
    .item iframe
    {
        height: 50vw !important;
    }
}
@media screen and (max-width: 375px)
{
    .btn a
    {
        font-size: 10px;
        border-width: 1px;
    }
}
