.container
{
    color: #EEEEEE;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    width: 600px;
    height: 300px;
    
}
.container h3
{
    margin: 11px 0 23px;
    font-size: 19px;
    font-family: sans-serif;
}
.container h1
{
    margin: 11px 0 23px;
    font-size: 42px;
    text-transform: uppercase;
}
.container p
{
    
    margin: 11px 0 23px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: justify;
}

.links
{
    width: 420px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.socialLinks a
{
    text-decoration: none;
    color: #ffb400;
    transition: ease color 3s;
}
.socialLinks
{
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.socialLinks a i
{
    transition: ease all .5s;
}
.profileImage
{
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-filter: drop-shadow(0 0 10px  #222);
    filter: drop-shadow(0 0 10px   #222);
}

.btn a
{
    text-decoration: none;
    padding: 12px 18px;
    color: white;
    display: block;
    float: left;
    margin:40px 20px;
    border: 2px solid #ffb400;
    border-radius: 100px;
    transition: ease all .5s;
}
.btn a:hover
{
    background-color: #ffb400;
    color: black;
}

@media screen and (max-width: 900px)
{
    .container
    {
        position: static;
        transform: none;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .profileImage
    {
        position: static;
        margin-top: 50px;
        float: right;
        height: 450px;
    }
}
@media screen and (max-width: 650px)
{
    .profileImage
    {
        height: 400px;
    }
    .container
    {
        width: 95vw;
    }
    .btn a
    {
        padding: 10px 15px;
        border-width: 1.5px;
    }
    .container h1
    {
        font-size: 35px;
    }
    .links
    {
        width: 95vw;
    }
}
@media screen and (max-width: 420px)
{
    .profileImage
    {
        height: 300px;
    }
    .container h1
    {
        font-size: 25px;
    }
    .container h3
    {
        font-size: 15px;
    }
    .btn a
    {
        margin: 40px 5px;
        font-weight: 12px;
        padding: 5px 10px;
    }
}